[submodule "tridme-test"]
	path = tridme-test
	url = https://github.com/naufaladrna08/tridme-test
[submodule "vendors/glfw"]
	path = vendors/glfw
	url = https://github.com/glfw/glfw
[submodule "vendors/imgui"]
	path = vendors/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendors/glm"]
	path = vendors/glm
	url = https://github.com/Groovounet/glm
[submodule "vendors/stbi"]
	path = vendors/stbi
	url = https://github.com/nothings/stb
